.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.logo {
  width: 290px;
  height: 116px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.main-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 1s ease; /* Apply fade-in animation */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}