.admin-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-btn {
  width: 250px;
  height: 85px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #FF5F00;
  font-family: "Maven Pro", sans-serif;
}
