.pit-button{
    width: 385px;
    height: 65px;
    text-align: center;
    background-color:#434343 ;
    color: white;
    margin: 5px 0;
    margin-bottom: 12px;
    font-size: x-large;
}

@media screen and (max-width: 400px) {
    .pit-button{
        width: 285px;
        height: 65px;
        text-align: center;
        background-color:#434343 ;
        color: white;
        margin: 5px 0;
        margin-bottom: 12px;
        font-size: x-large;
    }
    
}