.input-field {
  text-align: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items:flex-start;
}
.num-input{
  background-color: transparent;
  border-radius: 5px;
  border: 1px white;
  border-style: solid;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: white;
}
